@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>The Numeric Sequence Calculator is created by ASP.NET MVC.</h2>
    <h2>The application has following features</h2>
    <ul>
        <li>Whole Number Sequence</li>
        <li>Odd Number Sequence</li>
        <li>Even Number Sequence</li>
        <li>CEZ Number Sequence</li>
        <li>Fibonacci Number Sequence</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <strong style="color:red">You can ONLY input a positive number, otherwise an error message will appear.</strong>
        <img src="~/Images/Invalid.png" />
        <strong>==============================================================</strong>
        <strong>1.Whole Sequence (Get whole sequence up to and including number)</strong>
            <img style="margin-left:100px" src="~/Images/Sequence.png" />
        <strong>==============================================================</strong>
        <br/>
        <br/>
        <strong>2.Odd Sequence (Get whole ODD number sequence up to and including the number)</strong>
        <img style="margin-left:100px" src="~/Images/OddSequence.png" />
        <strong>==============================================================</strong>
        <br />
        <br />
        <strong>3.Even Sequence (Get whole EVEN number sequence up to and including the number)</strong>
        <img style="margin-left:100px" src="~/Images/EvenSequence.png" />
        <strong>==============================================================</strong>
        <br />
        <br />
        <strong>4.CEZ Sequence (Get CEZ number sequence up to and including the number)</strong>
        <ul>
            <li style="background-color:yellow">C ==>A number is a multiple of 3 </li>
            <li style="background-color:pink">E ==>A number is a multiple of 5 </li>     
            <li style="background-color:lightblue">Z ==>A number is a multiple of both 3 and 5 </li>
        </ul>
        <img style="margin-left:100px" src="~/Images/CEZSequence.png" />
        <strong>==============================================================</strong>
        <br />
        <br />
        <strong>5.Fibonacci Sequence (Get Fibonacci number sequence up to and including the number)</strong>
        <img style="margin-left:100px" src="~/Images/FibonacciSequence.png" />
        <strong>==============================================================</strong>
    </div>
</div>